body{
    background: grey;
}

.likeIcon-wrap {
    text-align: right;
    height: 70px;
}

.likeIcon-wrap>div{
    line-height: 30px;
}

.like-icon {
    width: 30px;
    height: 30px;
    background: url("../img/disfavor.png") no-repeat center;
    background-size: 30px 30px;
    float: right;
}

.on {
    background: url("../img/favor.png") no-repeat center;
    background-size: 30px 30px;
    float: right;
}

.like-num {
    width: 30px;
    height: 30px;
    color: #211f1f;
    font-size: 15px;
    float: right;
    vertical-align: middle;
}