<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xml:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/layer.js}"></script>
    <link rel="stylesheet" href="../../static/assets/css/favor.css" th:href="@{/assets/css/favor.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<div th:replace="client/header::header(${article.title},null)"></div>
<body>
<article class="main-content post-page">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline" th:text="${article.title}"></h1>
        <a class="article-id" th:text="${article.id}" hidden></a>
        <div class="post-data">
            <time th:datetime="${commons.dateFormat(article.created)}" itemprop="datePublished" th:text="'发布于 '+ ${commons.dateFormat(article.created)}"></time>
        </div>
    </div>
    <br/>
    <div id="post-content" class="post-content content" th:utext="${commons.article(article.content)}"></div>
    <div style="text-align: right" sec:authorize="isAuthenticated()">
<!--        设置了只有登录才有点赞的选项出现-->
        <div class="likeIcon-wrap">
            <div class="isFavor" th:text="${isFavor}" hidden ></div>
<!--            获取当前的点赞状态-->
            <div class="like-icon" data-key="on"></div>
            <div class="like-num" th:text="${article.favorCount}"></div>
        </div>
    </div>
</article>
<div th:replace="client/comments::comments"></div>
<div th:replace="client/footer::footer"></div>
<!-- 使用layer.js实现图片缩放功能 -->
<script type="text/JavaScript" th:inline="javascript">
    //设置CSRF认证
    $(function (){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e,xhr,options){
           xhr.setRequestHeader(header,token)
        });
    })

    //图片的缩放
    $('.post-content img').on('click', function(){
        var imgurl=$(this).attr('src');
        var w=this.width*2;
        var h=this.height*2+50;
        layer.open({
            type: 1,
            title: false, //不显示标题栏
            area: [w+"px", h+"px"],
            shadeClose: true, //点击遮罩关闭
            content: '\<\div style="padding:20px;">' +
                    '\<\img style="width:'+(w-50)+'px;" src='+imgurl+'\>\<\/div>'
        });
    });

    //加载好页面后触发
    $(document).ready(function () {
        //选择是否已经点过赞
        var isFavor = Number($('.isFavor').html())
        if(isFavor == 1){
            $('.like-icon').addClass('on');
            $('.like-icon').attr('data-key', '');
        }
        // likeClickCount
        $(".like-icon").on('click', function () {
            likeClickCount();
        })
    })



    // likeClickCount
    function likeClickCount() {
    //Number函数将对象的值转换成数字
        var like_num = Number($('.like-num').html());
        if ($('.like-icon').attr('data-key') == 'on') {
            $('.like-icon').addClass('on');
            // like-num add
            like_num = like_num + 1;
            $('.like-num').html(like_num);
            $('.like-icon').attr('data-key', '');

            //后端的数据增加
            $.ajax({
                url:"/Favor",
                type: "POST",
                data:{
                    id:$('.article-id').html()
                },
                resultType:"JSON",
                success: function (result){
                    alert(result.message)
                },error(){
                    alert("点赞失败")
                }
            })
        } else {
            $('.like-icon').removeClass('on');
            like_num = like_num - 1;
            $('.like-num').html(like_num);
            $('.like-icon').attr('data-key', 'on');

            //后端数据的减少
            $.ajax({
                url: "/cancleFavor",
                type: "POST",
                data: {
                    id: $('.article-id').html()
                },
                resultType: "JSON",
                success: function (result){
                    alert(result.message)
                },error(){
                    alert("取消失败")
                }
            })
        }
    }
</script>


</body>
</html>